psycopg2-binary>=2.8,<2.9
werkzeug>0.15
django>=2.0,<3.0
djangorestframework
Pillow>=6.0
django_extensions
requests
pre-commit
django-crispy-forms
django-webpack-loader
django-base-url
django-rest-auth
django-cors-headers
marshmallow
numpy
scipy
django-constance[database]
redis
dj-database-url
gunicorn[gevent]
django-tinymce
django-json-widget
pyjwt
Faker
